h1{
  text-align: center;
}
ul{
  display: flex;
}
li{
  display: inline-block;
  width: calc(100%/7);
  margin: 0;
  padding: 0;
}
li>a{
  text-decoration: none;
  color: black;
  font-size: 1,5rem;
  padding: 5px;
  background-color: yellow;
  border-radius: 5px;
}
h2{
  text-align: center;
}
