
@font-face {
  font-family: "Gagalin-Regular";
  src: url("../Gagalin-Regular.otf");
}
body{
  padding: 0;
  margin: 0;
}
header{
  background-color: #cae8ff;
  background-blend-mode: soft-light;
  background-image: url(../img/img-header2.png);
  background-size: cover;
  background-position: center;
  margin: 0;
}
h1{
  font-size: 4em;
  margin: 0;
  padding: 25px;
  text-align: center;
  color: #233dff;
  font-family: 'Gagalin-Regular';
  /* lineheight 1.15 */
}
h2{
  color: black;
  font-size: 3em;
  text-align: center;
}
header>p{
  margin: 0;
  padding: 10px;
  color: black;
  font-size: xx-large;
}
#cvhaut{
  display: block;
  width: 10%;
  margin: auto;
  border-radius: 10px;
  font-size: 40px;

}

nav{
  background-color: #233dff;
  position: sticky;
  top: 0px;
}
ul{
  margin: 0;
  padding: 0;
  letter-spacing: -0.25rem;
}
li:hover{
  background-color: black;
}
li{
  background-color: #233dff;
  display: inline-block;
  width: calc(100%/7);
  text-align: center;
  margin: 0;
  letter-spacing: normal;
  padding: 15px 0;
  box-sizing: unset;
}
li>a{
  text-decoration: none;
  color: white;
  font-size: 1,5rem;
  padding: 5px 0px;
}
footer{
  background-image: url(../img/map-footer.png);
  background-size: cover;
  background-position: center;

}
#cvbas{
  border-radius: 5px;
}
